@font-face {
    font-family: Outfit;
    src: url(assets/fonts/outfit/static/Outfit-Regular.ttf);
}

@font-face {
    font-family: YoungSerif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark_Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose_White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}

body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: var(--Eggshell);
    font-family: Outfit, sans-serif;
    color: var(--WengeBrown);
}

main {
    margin: 2em 0;
    flex-direction: column;
    background-color: var(--White);
    max-width: 40em;
    border-radius: 1.2em;
    padding: 0 1.8em;
}

#image img {
    width: 100%;
    border-radius: 1.2em;
    margin-top: 1.9em;
}

h1 {
    font-weight: 400;
    color: var(--DarkCharcoal);
    font-family: YoungSerif, sans-serif;
    font-size: 2.3em;
}

#preparation {
    background-color: var(--Eggshell);
    padding: 0.3em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.1em;
    color: var(--Dark_Raspberry);
}

li {
    padding-bottom: 0.5em;
}

h3 {
    font-family: YoungSerif, sans-serif;
    font-size: 1.6em;
    color: var(--Nutmeg);
    font-weight: lighter;
    margin-bottom: 0.5em;
}

table {
    width: 100%;
    margin-bottom: 2em;
}

#nutrition td {
    border-bottom: 1px solid rgba(7, 7, 7, 0.2);
    text-align: left;
    padding: 0.6em;
}

#td1 {
    color: var(--Nutmeg);
    font-weight: 800;
}

hr {
    opacity: 0.2;
}

@media screen and (max-width: 375px) {
    main {
        width: 20em;
        padding: 0;
    }

    #image {
        width: 100%;
        overflow: hidden;
    }
    
    #image img {
        margin: 0;
        width: 100%;
        height: auto;
        display: block;
        border-radius: 0;
    }
    h1 {
        font-size: 1.9em;
    }

    #recipe-details {
        padding: 0 0.5em;
    }
}